name: Publish random post from feed

on:
  push:
    branches:
      - master
      - develop

jobs:
  build:
    name: Sending random post
    runs-on: ubuntu-20.04
    if: github.repository == 'LuisAlejandro/fb-random-post-from-feed'
    strategy:
      matrix:
        include:
          - python-version: "3.10"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: develop
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Installing dependencies
        run: pip install -r requirements.txt
      - name: Testing script
        env:
          FACEBOOK_ACCESS_TOKEN: ${{ secrets.FACEBOOK_ACCESS_TOKEN }}
          FACEBOOK_PAGE_ID: ${{ secrets.FACEBOOK_PAGE_ID }}
          FEED_URL: ${{ secrets.FEED_URL }}
        run: python3 test.py
